<div class="container">
    <p><U>SPRING BOOT JPA BACKEND AND ANGULAR 8 UI AS FRONTEND</U></p>
    <br>
    <br>
    <button (click)="getAllStudentPage()" class="btn btn-info">Student List</button>
    &nbsp;
    &nbsp;
    <button (click)="AddStudentPage()" class="btn btn-info">Add Student</button>
    &nbsp;
    &nbsp;
    <button (click)="getIdFormForUpdate()" class="btn btn-warning">Update Student by ID</button>
    &nbsp;
    &nbsp;
    <br>
    <br>
    <br>
    <button (click)="getIdFormForDelete()" class="btn btn-danger">Delete Student by ID</button>
    &nbsp;
    &nbsp;
    <button (click)="DeleteAll()" class="btn btn-danger">Delete All Student</button>
    <br>
    <br>
    <br>
    <button (click)="findByIDForm()" class="btn btn-info">Find Student by ID</button>
    &nbsp;
    &nbsp;
    <button (click)="findByEmailForm()" class="btn btn-info">Find Student by Email</button>
    &nbsp;
    &nbsp;
    
    <br>
    <br>
    <br>
    
  </div>
  
  
  